
body{
    background-color: tan;
}

.webtitle {
font-family: Georgia, 'Times New Roman', Times, serif;
color:brown;
text-align: center;
}

.subtext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: sienna;
    text-align: center;
}

